* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}
.features > div > img, .company > div > img {
  width: 10px;
}
@media only screen and (min-width:980px) {
    main {
        width: 100vw;
        max-width: 1440px;
        height: 100vh;
        max-height: 900px;
        background: hsl(0, 0%, 98%);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    header {
        width: 100%;
        display: flex;
        padding: 1em 2em;
        justify-content: flex-start;
        align-items: flex-start;
        color: hsl(0, 0%, 41%);
      }
      #mobnav {
        display: none;
      }
      #logo {
        width: max(100px, 6vw);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px 0;
      }
      #logo img {
        width: 90%;
      }
      #desknav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: flex-start;
        position: relative;
        font-size: max(0.7em, 0.65vw);
        font-weight: 500;
      }
      #infos {
        display: flex;
        align-items: baseline;
      }
      #infos > div, #auth div {
        padding: 11px 30px 11px 0;
        position: relative;
        cursor: pointer;
        color:hsl(0, 0%, 41%);
        font-weight: 400;
      }
      #infos .features {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 40px
      }
      #infos .features:hover {
        margin-left: -10px;
      }
      #infos .company:hover {
        margin-right: -15px; 
      }
      .features span, .company span {
        margin-right: 5px;
      }
      #auth {
        width: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      #auth div:nth-child(2) {
        border: 1px solid hsl(0, 0%, 41%);
        border-radius: 10px;
        padding: 10px 15px;
      }
      .more {
        display: none;
        position: relative;
        background: white;
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: 0 0 25px 10px rgba(204, 202, 202, 0.2);
        margin-top: 15px;
        color:hsl(0, 0%, 41%);
        font-weight: 500;
      }
      
      #infos > div:hover .more {
        display: block;
      }
      
      .more > div {
        display: flex;
        align-items: center;
        padding: 5px 0;
        margin: 2px 0;
      }
      .more > div:hover {
        font-weight: 700;
      }
      .more img {
        width: 0.9em;
        margin-right: 10px;
      }
      #auth div:nth-child(2):hover {
        border: 1px solid hsl(0, 0%, 8%);
      }
      #text, #illus {
        display: inline-block;
        position: absolute;
        bottom: 3.5em;
      }
      #tab {
        display: none;
      }
      #dimg {
        width: 100%;
        height: 100%;
      }
      #text {
        width: 45%;
        left: 10%;
      }
      #text h1 {
        font-size: max(3.2vw, 4em);
        width: 100%;
        color:hsl(0, 0%, 8%);
        margin-bottom: 5%;
      }
      #text p {
        font-size: max(1em, 0.8vw);
        color: hsl(0, 0%, 41%);
        font-weight: 500;
        margin-bottom: 2em;
        line-height: 1.5em;
      }
      #text a {
        display: block;
        text-decoration: none;
        min-width: 120px;
        max-width: 25%;
        padding: 15px 0;
        text-align: center;
        font-size: max(0.85em, 0.65vw);
        color: white;
        font-weight: 500;
        background: hsl(0, 0%, 8%);
        border-radius: 10px;
        margin-bottom: 3em;
      } 
      footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      footer img {
        width: 20%;
      }
      #illus {
        width: 32%;
        height: auto;
        right: 100px;
        top: 100px;
      }
}


@media only screen and (min-width:730px) and (max-width:979px) {
    body {
      background: hsl(0, 0%, 98%);
    }
    main {
      width: 100%;
    }
    header {
        width: 100%;
        display: flex;
        padding: 1em 2em;
        justify-content: flex-start;
        align-items: flex-start;
        color: hsl(0, 0%, 41%);
      }
      #mobnav {
        display: none;
      }
      #logo {
        width: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px 0;
      }
      #logo img {
        width: 90%;
      }
      #desknav {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: flex-start;
        position: relative;
        font-size: 0.7em;
        font-weight: 500;
      }
      #infos {
        display: flex;
        align-items: baseline;
      }
      #infos > div, #auth div {
        padding: 11px 30px 11px 0;
        position: relative;
        cursor: pointer;
        color:hsl(0, 0%, 41%);
        font-weight: 400;
      }
      #infos .features {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 40px
      }
      #infos .features:hover {
        margin-left: -10px;
      }
      #infos .company:hover {
        margin-right: -15px; 
      }
      .features span, .company span {
        margin-right: 5px;
      }
      #auth {
        width: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      #auth div:nth-child(2) {
        border: 1px solid hsl(0, 0%, 41%);
        border-radius: 10px;
        padding: 10px 15px;
      }
      .more {
        display: none;
        position: relative;
        background: white;
        padding: 10px 15px;
        border-radius: 10px;
        box-shadow: 0 0 25px 10px rgba(204, 202, 202, 0.2);
        margin-top: 15px;
        color:hsl(0, 0%, 41%);
        font-weight: 500;
      }
      
      #infos > div:hover .more {
        display: block;
      }
      
      .more > div {
        display: flex;
        align-items: center;
        padding: 5px 0;
        margin: 2px 0;
      }
      .more > div:hover {
        font-weight: 700;
      }
      .more img {
        width: 0.9em;
        margin-right: 10px;
      }
      #auth div:nth-child(2):hover {
        border: 1px solid hsl(0, 0%, 8%);
      }
      section {
        width: 600px;
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
      }
      #illus {
        width: 100%;
      }
      #dimg {
        display: none;
      }
      #tab {
        width: 100%;
      }
      #text {
        width: 100%;
        text-align: center;
      }
      #text h1 {
        font-size: 3.5em;
        width: 100%;
        color:hsl(0, 0%, 8%);
        margin: 1em 0;
      }
      #text p {
        font-size: 0.85em;
        color: hsl(0, 0%, 41%);
        font-weight: 500;
        margin-bottom: 2em;
        line-height: 1.5em;
      }
      #text a {
        display: block;
        text-decoration: none;
        width: 120px;
        padding: 15px 0;
        text-align: center;
        font-size: 0.85em;
        color: white;
        font-weight: 500;
        background: hsl(0, 0%, 8%);
        border-radius: 10px;
        margin: 1em auto;
      }
      footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2em auto;
      }
      footer img {
        width: 15%;
      }
}

@media only screen and (max-width:730px) {
  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }
  header > div {
    margin-left: 20px;
  } 
  #desknav {
    display: none;
  }
  #mobnav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-bottom: 10px;
    padding-right: 10px;
  }
  #mobnav > img {
    width: 30px;
  }
  #menu {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
  #menu > div:nth-child(1) {
    background: hsl(0, 0%, 41%);
    opacity: 55%;
    width: 35%;
    height: 100%;
  }
  #menu > div:nth-child(2) {
    width: 65%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 20px;
    color: hsl(0, 0%, 41%);
  }
  #menu > div:nth-child(2) > img {
    align-self: flex-end;
    width: 25px;
  }
  #infos, #auth {
    display: block;
    width: 100%;
    align-items: flex-start;
  }
  #infos {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 1em;
  }
  #infos > div {
    margin: 1.4em 0;
  }
  #infos > div:hover, #auth > div:hover {
    cursor: pointer;
  }
  .features span, .company span {
    margin-right: 10px;
  }
  .more {
    display: none;
    padding: 10px 0 10px 20px;
  }
  .more > div {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1em 0;
  }
  .more > div img {
    margin-right: 10px;
  }
  #auth div {
    width: 100%;
    max-width: 150px;
    background: white;
    padding: 10px 0;
    text-align: center;
    font-size: 0.75em;
    font-weight: 400;
    margin: 0 auto;
  }
  #auth div:nth-child(2) {
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 10px;
  }
  
  section {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  #illus, #text {
    width: 100%;
  }
  #dimg {
    display: none;
  }
  #tab {
    width: 100%;
  }
  #text {
    width: 100%;
    text-align: center;
  }
  #text h1 {
    font-size: 2.5em;
    width: 100%;
    color:hsl(0, 0%, 8%);
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  #text p {
    font-size: 0.85em;
    color: hsl(0, 0%, 41%);
    font-weight: 500;
    margin-bottom: 2em;
    line-height: 1.5em;
  }
  #text a {
    display: block;
    text-decoration: none;
    width: 120px;
    padding: 12px 0;
    text-align: center;
    font-size: 0.85em;
    color: white;
    font-weight: 500;
    background: hsl(0, 0%, 8%);
    border-radius: 10px;
    margin: 1em auto;
  }
  footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em auto;
    padding: 0 5px;
  }
  footer img {
    width: 15%;
  }
}